<ngx-spinner type="ball-scale-multiple" bdColor="rgba(41, 100, 167,0.5)"></ngx-spinner>


<app-nav-bar></app-nav-bar>


 <!-- <app-section-hesder></app-section-hesder>  -->
 <!-- <ng-container *ngIf="(breadCrumbs$ | async) as breadcrumb">
  <div>

    <app-ng-dynamic-breadcrumb  [bgColor]="'#eee'" [fontSize]="'18px'" [fontColor]="'#0275d8'" [lastLinkColor]="'#000'"></app-ng-dynamic-breadcrumb>
  </div>
   
  



 </ng-container> -->
 <app-section-header></app-section-header>
 

    


    <router-outlet></router-outlet>

    <app-footer></app-footer>





