<div class="container" [formGroup]="checkoutForm">
  <h4 class="text-center mt-3 mb-4">طريقة الشحن</h4>
    <div class="row" formGroupName="DeliveryForm" >
      <!-- <h4>طريقه الشحن</h4> -->
        <div class=" form-check mt-2 mb-2 col-md-6" *ngFor="let dm of deliveryMethods">

            <!-- <input class="form-check-input" type="radio" name="DeliveryMehod" id="{{dm.id}}" value="{{dm.id}}" formControlName= "DeliveryMehod" (click)="setShippingPrice(dm)">
            <label class="form-check-label ml-2 mr-2" for="{{dm.id}}" >
                <strong>{{dm.shortName}} - {{dm.price |currency}}</strong> 
            <br>
               <span class="label-describtion">{{dm.description}}</span>
            </label> -->
            <input class="form-check-input" type="radio" name="DeliveryMehod" id="{{dm.id}}" value="{{dm.id}}" formControlName= "DeliveryMehod" (click)="setShippingPrice(dm)" class="ml-2 ">
            <label class="form-check-label" for="dm.id">
              <strong>{{dm.shortName}} - {{dm.price |currency}}</strong> 
              <br>
               <span class="label-describtion">{{dm.description}}</span>
            </label>

        </div>

    </div>

      <!--buttttons-->
  <div class="d-flex justify-content-between mt-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious> <i class="fa fa-angle-right ml-2"></i>العودة الى العنوان</button>
    <button class="btn btn-outline-primary" cdkStepperNext [disabled]="checkoutForm.get('DeliveryForm').invalid"> الى الطلب<i class="fa fa-angle-left mr-2"></i></button>
    
   
  </div>
</div>
