.active{
  color: #000 !important;
}
.activesidebar{
  color:#BB2649;
}
.list-item{
 
    cursor:pointer
}


.mat-expansion-panel-header{
  margin: 10px 0px !important;
}


@media  (max-width: 767.98px){
 .filter-sidebar{
  display: none;

 }
 .filterbutton{
  display: block;
 }
 


 }


 @media  (min-width: 768.00px){
  .filter-sidebar{
   display: block;
 
  }
  .filterbutton{
   display: none;
  }
}

mat-slider {
  width: 300px;
}


// We need to use ::ng-deep to overcome view encapsulation

::ng-deep{
  .ngx-slider .ngx-slider-pointer{
background-color: #bb2649 !important;
  }

  .ngx-slider .ngx-slider-bar{
    background-color: #eeeeee!important;
  }
  .custom-slider .ngx-slider .ngx-slider-pointer{
    background-color: #000 !important;
  }

  .ngx-slider.animate .ngx-slider-active:after{
    background-color: #ccc !important;
  }
  .ngx-slider.animate .ngx-slider-animate:after{
    background-color: #000;
  }
 

}
